extends layout

block content
  div#header(role='header')
    div#logo(role='logo')
  div#main(role='main')
    ul#members
      li(data-member='chaiyupai')
        div.member-avatar
        div.member-meta1
          span 白家宇
        div.member-meta2
          span 程式碼產生器
      li(data-member='gs')
        div.member-avatar
        div.member-meta1
          span 石展丞
        div.member-meta2
          span 心靈凌魔法師
      li(data-member='eric')
        div.member-avatar
        div.member-meta1
          span 白昌永
        div.member-meta2
          span 超粗肌肉棒子
      li(data-member='yswu')
        div.member-avatar
        div.member-meta1
          span 吳昱昇
        div.member-meta2
          span 國軍水電技師
      li(data-member='blue')
        div.member-avatar
        div.member-meta1
          span 藍鼎鈞
        div.member-meta2
          span 隨便塗鴉的人