doctype 5
html(xmlns:fb='http://www.facebook.com/2008/fbml', xmlns:og='http://ogp.me/ns#')
  head
    title infinitiBeat
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="description", content="infinitiBeat - Information, Design, Solution")
    meta(property="og:title", content="infinitiBeat")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://infinitibeat.com")
    meta(property="og:site_name", content="infinitiBeat Official Site")
    meta(property="og:description", content="infinitiBeat - Information, Design, Solution")
    meta(property="og:image", content="/images/logo.png")
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
    link(rel='shortcut icon', href='//infinitibeat.com/favicon.png', type='image/png')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src='/javascripts/underscore-min.js')
    script(src="/javascripts/raphael-min.js")
    #script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div.container(role='content')
      block content
    script(src='/javascripts/main.js')