doctype 5
html
  head
    title infinitiBeat
    link(rel='shortcut icon', href='/favicon.png', type='image/png')
    link(rel='shortcut icon', href='//infinitibeat.com/favicon.png', type='image/png')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/javascripts/raphael-min.js")
    #script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    div.container(role='content')
      block content
    script(src='/javascripts/main.js')